.controls {
  display: flex;
  justify-content: space-between;
}

.array-result-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.array-result-box-column {
  margin: 5px;
}

.analytic-block {
  display: flex;
  flex-direction: column;
}
